<div class="chart-wrapper">
  <h2 class="chart-title">Game Statistics</h2>

  <div class="chart">
    <div
      *ngFor="let item of data"
      class="bar"
      [style.height]="(item.value / maxValue * 100) + '%'"
      [style.backgroundColor]="item.color"
      (click)="item.value !== 0 ? open(item.label === 'Wins' ? 'won' : 'lost') : null"
    >
      <span class="bar-value">{{ item.value }}</span>
    </div>
  </div>

  <div class="labels">
    <div *ngFor="let item of data" class="label">
      {{ item.label }}
    </div>
  </div>
</div>

<app-statistics-modal
  *ngIf="showModal"
  [title]="modalContent === 'table' ? (selectedType === 'won' ? 'Partidas Ganadas' : 'Partidas Perdidas') : 'Último Movimiento'"
  (close)="closeModal()"
>
  <ng-container *ngIf="modalContent === 'table'; else boardView">
    <app-game-table [games]="gamesList" (view)="viewGame($event)" />
  </ng-container>

  <ng-template #boardView>
    <app-game-board [game]="selectedGame" [meId]="meId" />
    <button (click)="modalContent = 'table'">Volver a tabla</button>
  </ng-template>
</app-statistics-modal>
